:root {
    --black: #0c0c0c;
    --blackOpacity: #0c0c0c6f;
    --grayWhite: #bfbfbf;
    --grayVeryWhite: #ebebeb;
    --white: #FFFFFF;
    --orange: #ff4400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px blue solid; */
    font-family: Arial, Helvetica, sans-serif;
}

/* SELECTORES POR PALABRA CLAVE */

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}


/* HEADER */

#menu {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* LOGO */

#logo {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: scale(1);
}

#logo:hover {
    transform: scale(1.2);
}

/* TÍTULO PRINCIPAL */

#titulo {
    font-size: 35px;
    color: var(--white);
}

/* ÍCONOS DEL USUARIO */

#iconosUsuario {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#iconosUsuario a {
    font-size: 25px;
    background-color: none;
    cursor: pointer;
    color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.6s ease;
    transform: scale(1);
}

#iconosUsuario a:hover {
    transform: scale(1.2);
}

/* BARRA DE NAVEGACIÓN */

#barraNavegacion {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#barraNavegacion a {
    height: 50px;
    font-size: 15px;
    opacity: 1;
    color: var(--white);
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barraNavegacion a:hover {
    opacity: 0.7;
}

/* MAIN */

#principal {
    width: 100%;
    height: 100%;
    background-color: var(--grayWhite);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* ANUNCIO PRINCIPAL */

#anuncioPrincipal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blackOpacity);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

/* PRODUCTOS PRINCIPALES */

#anuncioPrincipal article {
    width: 50%;
    height: 75%;
    row-gap: 25px;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px 25px 0px;
    border-radius: 15px;
    border: 10px var(--black) solid;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    animation: scaleOnOff 1s;
}

/* SPAN */

#anuncioPrincipal article span {
    font-size: 50px;
    text-align: center;
}

/* H1 */

#anuncioPrincipal article h2 {
    font-size: 50px;
    text-align: center;
}

/* PÁRRAFO */

#anuncioPrincipal article p {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

/* LINK COMPRAR */

#anuncioPrincipal article a {
    font-size: 40px;
    padding: 15px;
    border-radius: 15px;
    border: 3px var(--blackOpacity) solid;
    background-color: var(--orangeDanger);
    color: var(--black);
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

/* BOTÓN CERRAR */

#anuncioPrincipal article button {
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    border: 3px var(--blackOpacity) solid;
    background-color: var(--orangeDanger);
    color: var(--black);
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

/* PRODUCTOS DESTACADOS */

#productosDestacados {
    width: 85%;
    height: 100%;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px 25px 0px;
    border-radius: 15px;
    background-color: var(--grayVeryWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* TITULO PRODUCTOS DESTACADOS */

#tituloProductos {
    width: 100%;
    height: 100%;
    margin: 15px 0px 35px 0px;
    font-size: 35px;
    text-align: center;
}

/* PRODUCTOS */

.productos {
    width: 100%;
    height: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ARTÍCULO DE UN PRODUCTO */

.productos article {
    width: 300px;
    height: 550px;
    row-gap: 5px;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productos article.esconder {
    width: 300px;
    height: 550px;
    row-gap: 5px;
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* PRODUCTO PARTE 1 */

.productos article .productoParte1 {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* IMAGEN */

.productoParte1 img {
    width: 100%;
    max-height: 350px;
    border-radius: 15px;
}

/* PÁRRAFO */

.productoParte1 h3 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

/* PRODUCTO PARTE 2 */

#productos article .productoParte2 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* PRECIO DESCUENTO */

.productoParte2 .precioOferta {
    font-size: 35px;
    font-weight: bolder;
    color: var(--orange);
}

/* PRECIO NORMAL */

.productoParte2 .precioNormal {
    font-size: 35px;
    font-weight: bolder;
    color: var(--black);
}

/* PRECIO NORMAL TACHADO */

.productoParte2 .precioNormalTachado {
    font-size: 35px;
    font-weight: bolder;
    color: var(--black);
    text-decoration: line-through;
}

/* BOTÓN NORMAL*/

.botonAgregarCarrito {
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    padding: 2.5px;
    margin-top: 20px;
    outline: 0px;
    transition: outline 0.2s ease;
    background-color: var(--grayWhite);
    color: var(--black);
    cursor: pointer;
    font-weight: bolder;
    border: none;
}

.botonAgregarCarrito:hover {
    outline: 3px var(--black) solid;
}

/* BOTÓN OFERTA */

.botonAgregarCarritoOferta {
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    padding: 2.5px;
    margin-bottom: 10px;
    outline: 0px;
    transition: outline 0.2s ease;
    background-color: var(--orange);
    color: var(--black);
    cursor: pointer;
    border: none;
    font-weight: bolder;
}

.botonAgregarCarritoOferta:hover {
    outline: 3px var(--black) solid;
}

/* SECCIÓN SOLO PARA TÍ */

#SoloParaTi {
    width: 85%;
    height: 100%;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px 25px 0px;
    border-radius: 15px;
    background-color: var(--grayVeryWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SECCIÓN PIANOS */

#piano {
    width: 85%;
    height: 100%;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px 25px 0px;
    border-radius: 15px;
    background-color: var(--grayVeryWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SECCIÓN GUITARRAS */

#guitarra {
    width: 85%;
    height: 100%;
    padding: 25px 0px 25px 0px;
    margin: 25px 0px 25px 0px;
    border-radius: 15px;
    background-color: var(--grayVeryWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* FOOTER */

#piePagina {
    width: 100%;
    height: 100%;
    padding: 25px 0px 25px 0px;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* PÁRRAFO */

#piePagina {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--white);
}

/* ANIMACIONES */

@keyframes scaleOnOff {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* MEDIAS QUERYS */

@media (max-width:850px) {
    #tituloProductos {
        font-size: 30px;
    }

    #anuncioPrincipal article {
        width: 75%;
        height: 75%;
        row-gap: 25px;
        padding: 25px 0px 25px 0px;
        margin: 25px 0px 25px 0px;
        border-radius: 15px;
        border: 10px var(--black) solid;
        background-color: var(--white);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        animation: scaleOnOff 1s;
    }

    /* SPAN */

    #anuncioPrincipal article span {
        font-size: 35px;
    }

    /* H1 */

    #anuncioPrincipal article h2 {
        font-size: 35px;
    }

    /* PÁRRAFO */

    #anuncioPrincipal article p {
        font-size: 15px;
        font-weight: bolder;
        text-align: center;
    }

    /* LINK COMPRAR */

    #anuncioPrincipal article a {
        font-size: 25px;
    }

    /* BOTÓN CERRAR */

    #anuncioPrincipal article button {
        font-size: 20px;
    }
}